body {
  padding-top: 20px;
  background: #f5f7f8;
}

a{

}

.grid-1 {
  width: 100%;
  max-width: $ancho-maximo;
  margin: 0 auto;

}
.grid-1 div {
  font-size: 20px;
  padding: 20px;
  }
/* items */



.logo{
  float:left;
  padding-right: 5%;
  //padding: 5% 0;
}
.logo-texto{
   padding: 10% 0;
}
/* specific item styles */

.item-1 {
  margin:0;
  color:$color-fondo !important;
}

.item-2 {
  margin:0;
  height: 450px;
  color: white;
 }

.item-3 {

}
.item-4 {
  background: #6a478f;
 }

.menu-superior {
  display: grid;
  width: 100%;
  max-width: $ancho-maximo;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-gap: 5px;
  grid-template-areas:  "menu1a menu1a menu1a menu1a menu1a menu1b menu1c menu1d"
}

.menu-superior-1{
  grid-area: menu1a;
}

.poster{
  background-color:$color-fondo;
}
// Grid layout for wide display
@supports (display:grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .poster-grid {
      max-width: none;
      padding: 0;
      display: grid;
//      grid-template-columns: 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      grid-template-columns:
      calc(3em + 0.5vw)
      4fr
      minmax(19em, max-content)
      minmax(4em, max-content)
      minmax(1em, 4fr)

      ;
      grid-template-rows: 5vh 60vh 15vh 10vh;
    }

    .poster-titulo {
      grid-column: 3 / 6;
      grid-row: 1 / 2;
      z-index: 2;
      padding-left: 4.5em;
      margin-bottom: initial;
      font-size:70px;
      color:#00b48a;
    }

    .poster-subtitulo {
      grid-row: 1 / -1;
      grid-column: 1 / 1;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      margin-bottom: initial;
      color: $text;
      text-align:center;
    }

    .texto {
      grid-column: 5 / 6;
      grid-row: 2;
      align-self: end;
      padding-bottom: 4vh;
      margin-bottom: initial;
      padding-top: 20px;
      z-index:4;
    }



    img {
      grid-column: 2 / 5;
      grid-row: 2 / 5;
      z-index: 0;

    }

    .location {
      grid-column: 5 / 6;
      grid-row: 3 / 4;
      z-index: 2;
//    background: $main;
      text-align: center;
      display: flex;
//      color: black !important;

      p {
        margin: auto;
      }
    }

    button {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      position: initial;
      padding: 0;
      z-index:8;
    }
  }

  @media (min-width: 48em) and (min-height: 27em) {
    .poster-titulo {
      color:#00b48a;
    }
  }
}

.footer {
  text-align: center;
  display: grid;
  width: 100%;
  max-width: $ancho-maximo;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-gap: 5px;
  grid-template-areas:  "footera footerb footerc footerd";
  color: #111d2d!important;
}
.footera{
  grid-area: footera;
}
.footerb{
  grid-area: footerb;
}
.footerc{
  grid-area: footerc;
}
.footerd{
  grid-area: footerd;
}
/* warn against lack of browser support */

.nope {
  display: block;
  color: white;
  background: orange;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@supports (display: grid) {
  .nope {
    display: none;
  }
}