body {
  padding-top: 20px;
  background: #f5f7f8;
}

a{
  text-decoration: none;
  color: #111d2d;
}

.grid-1 {
  width: 100%;
  max-width: $ancho-maximo;
  margin: 0 auto;

}
.grid-1 div {
  font-size: 20px;
  padding: 20px;
  }
/* items */



.logo{
  float:left;
  padding-right: 5%;
  //padding: 5% 0;
}
.logo-texto{
   padding: 10% 0;
}
/* specific item styles */

.item-1 {
  margin:0;
  color:$color-fondo !important;
}

.item-2 {
  margin:0;
  height: 600px;
  color: white;
 }

.item-3 {

}
.item-4 {
border-top: 5px;
border-color: #cccccc;
 }

.menu-superior {
  display: grid;
  width: 100%;
  max-width: $ancho-maximo;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-gap: 5px;
  grid-template-areas:  "menu1a menu1a menu1a menu1a menu1a menu1b menu1c menu1d"
}

.menu-superior-1{
  grid-area: menu1a;
}

.poster{
  background-color:$color-fondo;
}
// Grid layout for wide display
@supports (display:grid) {
@media only screen and  (min-width:  1000px){
    .poster-grid {
      max-width: none;
      padding: 0;
      display: grid;
    grid-gap: 1rem;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 50px 150px;
    grid-template-areas:  "sb tt tt tt txt"
                          "sb img img img txt"
                          "sb img img img txt"
                          "sb btn bb fch txt";
    }

    .poster-titulo {
      grid-area: tt;
      z-index: 2;
      padding-left: 4.5em;
      margin-bottom: initial;
      font-size:70px;
      color:#bbe4c4;
    }

    .poster-subtitulo {
      grid-area: sb;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      margin-bottom: initial;
      color: $text;
      text-align:center;
    }

    .texto {
      grid-area: txt;
      padding-bottom: 4vh;
      margin-bottom: initial;
      padding-top: 20px;
      z-index:4;
    }

    img {
      grid-area: img;
      z-index: 0;
      max-width: 90%;
    }

    .location {
      color: #bbe4c4;
      grid-area: fch;
      z-index: 2;
      text-align: center;
      display: flex;
      p {
        margin: auto;
      }
    }

    button {
      grid-area: btn;
      position: initial;
      padding: 0;
      z-index:8;
    }

.footer {
  text-align: center;
  display: grid;
  width: 100%;
  max-width: $ancho-maximo;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-gap: 5px;
  grid-template-areas:  "footera footerb footerc footerd";
  color: #111d2d!important;
}
.footera{
  grid-area: footera;
}
.footerb{
  grid-area: footerb;
}
.footerc{
  grid-area: footerc;
}
.footerd{
  grid-area: footerd;
}
  }

  @media only screen and  (min-width:  368px) and (max-width: 999px){
.item-2 {

     height: 700px;
}
    .poster-titulo {
      color:#bbe4c4;
    }
        .location {
      color: #bbe4c4;
      grid-area: fch;
      z-index: 2;
      text-align: center;
      display: flex;
      p {
        margin: auto;
      }
    }
        img {
      grid-area: img;
      z-index: 0;
      max-width: 60%;
    }
  }
}

.menu-inferior {
  display: grid;
  width: 100%;
  max-width: $ancho-maximo;
  margin: auto;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr ;
  grid-template-rows: repeat(1, 100px);
  grid-gap: 5px;
  grid-template-areas:  "menu1a menu1b menu1c menu1d menu1e menu1f"
}
.menuInfa{
  grid-area: menu1a;
}
.menuInfb{
  grid-area: menu1b;
}
.menuInfc{
  grid-area: menu1c;
}
.menuInfd{
  grid-area: menu1d;
}
.menuInfre{
  grid-area: menu1e;
}
.menuInff{
  grid-area: menu1f;
  text-align: left;
}
/* warn against lack of browser support */

.nope {
  display: block;
  color: white;
  background: orange;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@supports (display: grid) {
  .nope {
    display: none;
  }
}