.carrusel{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
  .div-centrado{
    width: 80%;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.texto-justificado{
text-align: justify;
texto-justify: inter-palabra;
}
