@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$theme-colors: (
  "primary": #3d6bc0 // pon el código de color que prefieras
);
$ancho-maximo: 1300px;
$ancho-maximo-poster:750px;
$main: #fff;
$accent: #fe320f;
$text: #fff;
$grisClaro: #cccccc;
$color-fondo:#111d2d;
